<h1> Authors </h1>

<% @authors.each do |author| %>
<p> <strong><%="#{author.first_name} #{author.last_name}"%></strong><p/>
  <% author.books.each do |book| %>
  <p> <%=book.title %><p/>
  <% end %>
    <% end %>
</div>
